h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

ul.nav{
    position: relative;
    display: flex;
    justify-content: end;
    justify-content: space-between;
    padding-right: 100px;
}

.navli{
    border-width: 100%;
    border-top: 0.05cm solid black;
    border-right: 0.05cm solid black;
    border-left:0.05cm solid black;
    border-bottom: 0.05cm solid black;
    overflow: hidden;
}
h2,p{
    padding-left: 1cm;
}

.fotoPortada{

    height: 450px;
    width: 90%;
    padding-left: 2cm;
}
.tip_marca{
    border: 2px solid black;
    margin: 1rem;
    padding: 2rem 5rem;
    width: 30%;
    display: inline-block;
}

.fotoMarca{
display: flex;
flex-direction: row;
justify-content: flex-start;
width: 70%;
margin: 0 auto;
}